[submodule "SFML"]
	path = SFML
	url = https://github.com/SFML/SFML.git
[submodule "fmt"]
	path = fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "flite"]
	path = flite
	url = https://github.com/festvox/flite.git
[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
